<img
  class="thumbnail"
  [ngSrc]="manga() | coverArt: 'lg'"
  [alt]="manga() | imageAlt"
  width="550"
  height="800"
  priority />
<div class="info">
  <h1 class="title" nz-typography>
    {{ manga().attributes.title | mangaTitle }}
  </h1>
  <nz-flex nzWrap="wrap">
    @for (tag of manga().attributes.tags; track tag.id) {
      <app-tag [tagId]="tag.id">{{ tag.attributes.name['en'] }}</app-tag>
    }
  </nz-flex>
  <p class="description" nz-typography>
    {{ manga().attributes.description['en'] }}
  </p>
  <div class="meta">
    <div class="group">
      <div>
        <span nz-icon nzType="user" nzTheme="outline" class="icon"></span>
        <span nz-typography>Tác giả:</span>
      </div>
      <p>{{ manga().relationships[0].attributes.name }}</p>
    </div>
    <div class="group">
      <div>
        <span
          nz-icon
          nzType="exclamation-circle"
          nzTheme="outline"
          class="icon"></span>
        <span nz-typography>Tình trạng:</span>
      </div>
      <p>{{ manga() | mangaStatus }}</p>
    </div>
    <div class="group">
      <div>
        <span nz-icon nzType="star" nzTheme="fill" class="icon"></span>
        <span nz-typography>Rating:</span>
      </div>
      <p>{{ statistic().rating.average | number: '1.1-1' }}</p>
    </div>
    <div class="group">
      <div>
        <span nz-icon nzType="bell" nzTheme="fill" class="icon"></span>
        <span nz-typography>Theo dõi:</span>
      </div>
      <p>{{ statistic().follows | number: '1.0-0' }}</p>
    </div>
    <div class="group">
      <div>
        <span
          nz-icon
          nzType="unordered-list"
          nzTheme="outline"
          class="icon"></span>
        <span nz-typography>Số chương:</span>
      </div>
      <p>{{ totalChapter() | number: '1.0-0' }}</p>
    </div>
  </div>
  <div [appSpace]="28"></div>
  <nz-flex [nzGap]="24">
    <a
      nz-button
      nzSize="large"
      nzType="primary"
      [routerLink]="['/chapter', firstChapter()?.id]">
      Đọc ngay
    </a>
    <a
      nz-button
      nzSize="large"
      nzType="link"
      [href]="mangadexLink"
      target="_blank"
      rel="noopener noreferrer">
      Link Mangadex
    </a>
  </nz-flex>
</div>
