<a [routerLink]="['/manga', manga().id]" class="thumbnail">
  <img
    [src]="manga() | coverArt"
    [alt]="manga() | imageAlt"
    class="thumbnail"
    loading="lazy" />
  <button class="preview" (click)="handlePreview($event)">
    <span nz-icon nzType="eye" nzTheme="outline"></span>
  </button>
  <div class="statistic">
    <div>
      <span nz-icon nzType="star" nzTheme="fill" class="icon"></span>
      <span nz-typography>
        {{ statistic()?.rating?.average ?? 0 | number: '1.1-1' }}
      </span>
    </div>

    <div>
      <span nz-icon nzType="bell" nzTheme="fill" class="icon"></span>
      <span nz-typography>{{ statistic()?.follows }}</span>
    </div>
  </div>
</a>

<div [appSpace]="12"></div>
<a [routerLink]="['/manga', manga().id]">
  <h3 nz-typography class="title">
    {{ manga().attributes.title | mangaTitle: 8 }}
  </h3>
</a>
<div class="chapterInfo">
  <a [routerLink]="['/chapter', latestChapter()?.id]">
    <p nz-typography>Chương {{ latestChapter()?.attributes?.chapter }}</p>
  </a>
  <p nz-typography>{{ latestChapter()?.attributes?.updatedAt | updatedAt }}</p>
</div>
