<nz-carousel nzEffect="scrollx" class="carousel" nzAutoPlay="false">
  @for (manga of mangaList(); track manga.id) {
    <div nz-carousel-content class="featureCard">
      <img
        class="backgroundImage"
        [ngSrc]="manga | coverArt: 'lg'"
        [alt]="manga | imageAlt"
        fill
        priority="true" />

      <div class="overlay"></div>
      <div class="slideContent">
        <a [routerLink]="['/manga', manga.id]">
          <img
            [ngSrc]="manga | coverArt: 'lg'"
            [alt]="manga | imageAlt"
            height="550"
            width="400"
            priority="true" />
        </a>
        <div class="mangaInfo">
          <a [routerLink]="['/manga', manga.id]">
            <h2 nz-typography>{{ manga | mangaTitle }}</h2>
          </a>
          <nz-flex nzWrap="wrap">
            @for (tag of manga.attributes.tags; track tag.id) {
              <app-tag>{{ tag.attributes.name['en'] }}</app-tag>
            }
          </nz-flex>
          <nz-space>
            <div *nzSpaceItem>
              <span nz-icon nzType="star" nzTheme="fill" class="icon"></span>
              <span nz-typography>{{
                statistics()?.[manga.id]?.rating?.average | number: '1.1-1'
              }}</span>
            </div>
            <div *nzSpaceItem>
              <span nz-icon nzType="bell" nzTheme="fill" class="icon"></span>
              <span nz-typography>{{ statistics()?.[manga.id]?.follows }}</span>
            </div>
          </nz-space>
          <p class="description" nz-typography>
            {{ manga.attributes.description['en'] }}
          </p>
          <p class="updatedAt">{{ manga.attributes.updatedAt | updatedAt }}</p>
        </div>
      </div>
    </div>
  }
</nz-carousel>
