@import '../../../../variables.scss';

:host {
  background-color: #1a1a1a;
  padding: 24px 40px;
  display: block;
  max-width: 1400px;
  margin: 0 auto;
}

label {
  letter-spacing: 1.1px;
  color: $primary-color;
}

.select {
  width: 100%;
}
