@import '../../../variables.scss';

.card {
  padding: 0 32px;
}

.ant-typography {
  color: #b3b3b3;
  font-size: 20px;
}

.rankNumber {
  width: 35px;
}

.icon {
  color: $primary-color;
  font-size: 16px;
}

.statistic {
  font-size: 14px;
}

.title {
  max-width: 395px;
}