@if (manga()) {
  <app-info-section
    [manga]="manga()!"
    [statistic]="statistic()!"
    (trackHistory)="trackHistory($event)"
    [firstChapter]="firstChapter()"
    [totalChapter]="chapterList()!.total"></app-info-section>

  <app-chapters
    [chapters]="chapterList()!.data"
    (trackHistory)="trackHistory($event)"
    [lang]="lang()"
    (changeLang)="changeLang()"></app-chapters>

  @if (chapterList() && totalPage() > 1) {
    <nz-pagination
      class="pagination"
      [nzPageIndex]="page()"
      [nzTotal]="chapterList()!.total"
      (nzPageIndexChange)="changePage($event)"
      [nzPageSize]="50"></nz-pagination>
  }
}
