@import '../../../../variables.scss';

.container {
  padding: 16px 0;
}

.input {
  max-width: 487px;
  background-color: #212121;
  border-radius: 4px;
  border: none;
  padding: 10px 10px;

  & input {
    background-color: #212121;
    color: #fff;
  }
}

[nz-icon] {
  color: #fff;
  font-size: 20px;
  margin-right: 16px;
}

a {
  color: #fff;

  &:hover,
  &:active,
  &.selected {
    color: $primary-color;
  }
}
