:host {
  max-width: 2000px;
  margin: auto;
  display: block;
}

.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px 36px;
}

.pagination {
  margin: 36px 0;
  display: flex;
  justify-content: center;
}