.layout {
  min-height: 100vh;
}

.header,
.content,
.footer {
  background-color: #0d0d0d;
  color: #fff;
}

.content {
  padding: 36px 160px;
}

nz-header {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
