@import '../../../variables.scss';

.row {
  max-width: 2000px;
  margin: auto;
}

.heading {
  font-size: 20px;
  color: $primary-color;
  margin-bottom: 24px;
}

.rank {
  background-color: #1a1a1a;
  height: 612px;
  padding: 24px 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px 36px;
}
