<div class="row" nz-row>
  <div nz-col nzSpan="16">
    <p class="heading" nz-typography>Truyện hot mới cập nhật</p>
    <app-carousel
      [mangaList]="featureMangaList()"
      [statistics]="featureMangaListStatistics()" />
  </div>
  <div nz-col nzOffset="2" nzSpan="6">
    <p class="heading" nz-typography>Trending</p>
    <nz-flex [nzVertical]="true" [nzJustify]="'space-between'" class="rank">
      @for (manga of trendingMangaList(); track manga.id; let rank = $index) {
        <a [routerLink]="['/manga', manga.id]">
          <app-rank-manga-card
            [manga]="manga"
            [statistic]="trendingMangaListStatistics()?.[manga.id]"
            [rank]="rank + 1" />
        </a>
      }
    </nz-flex>
  </div>
</div>

<div [appSpace]="36"></div>

<ng-container *ngIf="latestMangaList$ | async as latestMangaList">
  <div class="row">
    <p class="heading" nz-typography>Truyện mới cập nhật</p>
    <div class="cards">
      <ng-container *ngIf="latestChapters$ | async as latestChapters">
        <ng-container
          *ngIf="latestMangaStatistics$ | async as latestMangaStatistics">
          @for (manga of latestMangaList?.data; track manga.id) {
            <app-manga-card
              [manga]="manga"
              [latestChapter]="
                latestChapters?.[manga.attributes.latestUploadedChapter]
              "
              [statistic]="latestMangaStatistics?.[manga.id]"></app-manga-card>
          }
        </ng-container>
      </ng-container>
    </div>
  </div>

  @if (latestMangaList) {
    <nz-pagination
      class="pagination"
      [nzPageIndex]="page()"
      [nzTotal]="latestMangaList.total | paginationTotalItems"
      (nzPageIndexChange)="changePage($event)"
      [nzPageSize]="pageSize"></nz-pagination>
  }
</ng-container>
