@import './reset.scss';
@import './variables.scss';

h2.ant-typography,
h3.ant-typography,
.ant-typography {
  letter-spacing: 1.1px;
  color: #fff;
}

.ant-carousel .slick-dots li.slick-active button {
  background: $primary-color;
}

img {
  object-fit: cover;
}

.ant-pagination-item-ellipsis {
  color: #fff !important;
}

.ant-btn {
  letter-spacing: 1.1px;
}

.ant-input,
.ant-select-item-option-content {
  letter-spacing: 0.8px;
}

.ant-drawer-body,
.ant-drawer-header {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}

.ant-drawer-header {
  [nz-icon] {
    color: #fff;
  }
}
