@import '../../../../../variables.scss';

:host {
  margin-top: 36px;
  display: block;
  background-color: #1a1a1a;
  padding: 24px 40px;
}

.chapterIcon {
  font-size: 24px;
  color: $primary-color;
}

.chapterHeading {
  margin: 0;
  color: $primary-color;
}

.flag {
  width: 32px;
}

.translateGroup {
  text-align: right;
}

.tableHeading {
  font-size: 18px;
}

.chapterName {
  color: $primary-color;
}

.updatedAt {
  font-style: italic;
}
