<nz-flex nzAlign="center" nzJustify="space-between">
  <nz-flex nzAlign="center" nzGap="8px">
    <span
      nz-icon
      nzType="unordered-list"
      nzTheme="outline"
      class="chapterIcon"></span>
    <h3 nz-typography class="chapterHeading">Danh sách chương</h3>
  </nz-flex>
  <nz-flex nzGap="8px" nzAlign="center">
    <div class="flag" [innerHTML]="GBFlag"></div>
    <nz-switch
      [ngModel]="isVietNamFlag()"
      (click)="switchLanguage()"></nz-switch>
    <div class="flag" [innerHTML]="VNFlag"></div>
  </nz-flex>
</nz-flex>

<div [appSpace]="24"></div>

<nz-row>
  <p nz-col nzSpan="12" nz-typography class="tableHeading">Tên chương</p>
  <p nz-col nzSpan="6" nz-typography class="tableHeading updatedAt">
    Ngày cập nhật
  </p>
  <p nz-col nzSpan="6" class="translateGroup tableHeading" nz-typography>
    Nhóm dịch
  </p>
</nz-row>

<div [appSpace]="12"></div>
@for (chapter of chapters(); track chapter.id) {
  <div [appSpace]="20"></div>
  <nz-row>
    <a
      nz-col
      nzSpan="12"
      class="chapterName"
      (click)="track(chapter.id)"
      [routerLink]="['/chapter', chapter.id]"
      [queryParams]="{ lang: lang() ?? '' }"
      nz-typography>
      {{ chapter | chapterName }}
    </a>
    <p nz-col nzSpan="6" class="updatedAt" nz-typography>
      {{ chapter.attributes.updatedAt | date: 'dd/MM/YYYY' }}
    </p>
    <a
      nz-col
      nzSpan="6"
      class="translateGroup"
      [href]="chapter.relationships[0].attributes?.website"
      nz-typography>
      {{ chapter.relationships[0].attributes?.name }}
    </a>
  </nz-row>
}
