@if (chapter()) {
  @let manga = chapter()!.data.relationships | relationship: 'manga';
  <a [routerLink]="['/manga', manga | map: 'id']">
    <h1 nz-typography>
      {{ manga | map: 'attributes.title' | mangaTitle }}
    </h1>
  </a>
}

@if (content$ | async; as content) {
  @for (item of content.chapter.data; track item) {
    <img
      [src]="item | chapterImage: content.baseUrl : content.chapter.hash"
      loading="lazy"
      class="image"
      alt="" />
  }
}

@if (chapterList().length) {
  <div class="navigation">
    <button
      nz-button
      nzSize="large"
      nzType="primary"
      (click)="prev()"
      [disabled]="chapterList()[0].id === chapterId()">
      Chương trước
    </button>
    <nz-select
      [ngModel]="chapterId()"
      (ngModelChange)="changeChapter($event)"
      class="chapters"
      nzSize="large">
      @for (chapter of chapterList(); track chapter.id) {
        <nz-option
          [nzValue]="chapter.id"
          [nzLabel]="chapter.chapter"></nz-option>
      }
    </nz-select>
    <button
      nz-button
      nzSize="large"
      nzType="primary"
      (click)="next()"
      [disabled]="chapterList()[chapterList().length - 1].id === chapterId()">
      Chương sau
    </button>
  </div>
}
