@import '../../../variables.scss';

:host {
  max-width: 2000px;
  margin: auto;
  display: block;
}

h1 {
  color: $primary-color;
  margin: 0 0 60px;
  text-align: center;
}

.image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.navigation {
  display: flex;
  margin: 52px 0;
  gap: 32px;
  justify-content: center;
}

.chapters {
  width: 100px;
  display: block;
}
